* {
    border-color: navajowhite;
}

body {
    color: olivedrab;
}

div.alarm {
    color: red;
}

.form-check-input:checked {
    background-color: lightgreen;
    border-color: green;
}

.form-check-input:focus {
    border-color: green;
    box-shadow: 0 0 3px 0.15rem lightgreen;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='green'/%3e%3c/svg%3e");
}

.box {
    height: 5vw;
}

.bl {
    border-left: 1px solid #dee2e6 !important;
}

.br {
    border-right: 1px solid #dee2e6 !important;
}

.bt {
    border-top: 1px solid #dee2e6 !important;
}

.bb {
    border-bottom: 1px solid #dee2e6 !important;
}

.kitchen {
    background-color: white;
}

.bath {
    background-color: white;
}

.wc {
    background-color: white;
}

.cor {
    background-color: white;
}

.bedroom {
    background-color: white;
}

.on {
    background-color: yellow;
}
